<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Azure Native picoblogue</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="site-header">
    <h1>Picoblogue</h1>
      <div class="login-header">
        <p>You login as guest</p>
        <button class="button-11">sing-up</button>
        <button class="button-11">sing-in</button>
        <button class="button-11">sing-in with Azure account</button>
      </div>
    </header>

    <section class="article">
      <h2>Awesome Article</h2>
      <p>Theory Section - What is Dependency Injection</p>
      <p>Dependency injection (DI) is a way for your code functions and/or classes to declare things they need to work.
      <p>If you want to get more technical: Dependency injection relies on composition, and is a method for achieving inversion of control.
      <p>FastAPI has an elegant and simple dependency injection system. It is my favorite feature of the framework. You can declare dependencies in your path operation functions, i.e. the decorated functions which define your API endpoints. Typical examples of the sorts of dependencies you might want to inject:
      <p>Database connections
        Auth/security requirements (e.g. getting user credentials, checking the user is active, checking user access level)
        Clients for interacting with other services (e.g. AWS services, email marketing services, a CMS)
        Virtually any shared code logic
        These dependencies only need to be declared once and then referenced elsewhere in the codebase, so DI makes your code less repetitive and easier to understand. DI is also extremely useful for testing, because you can inject test doubles into your objects which reduces unwieldy monkey patching. We’ll look at an example of this in the second part of the post. Let’s start looking at some examples.
      <p></p>
      <button>Like</button><button>Unlike</button>
    </section>

    <section class="article">
      <h2>Awesome Article</h2>
      <p>Theory Section - What is Dependency Injection</p>
      <p>Dependency injection (DI) is a way for your code functions and/or classes to declare things they need to work.
      <p>If you want to get more technical: Dependency injection relies on composition, and is a method for achieving inversion of control.
      <p>FastAPI has an elegant and simple dependency injection system. It is my favorite feature of the framework. You can declare dependencies in your path operation functions, i.e. the decorated functions which define your API endpoints. Typical examples of the sorts of dependencies you might want to inject:
      <p>Database connections
        Auth/security requirements (e.g. getting user credentials, checking the user is active, checking user access level)
        Clients for interacting with other services (e.g. AWS services, email marketing services, a CMS)
        Virtually any shared code logic
        These dependencies only need to be declared once and then referenced elsewhere in the codebase, so DI makes your code less repetitive and easier to understand. DI is also extremely useful for testing, because you can inject test doubles into your objects which reduces unwieldy monkey patching. We’ll look at an example of this in the second part of the post. Let’s start looking at some examples.
      <p></p>
      <button>Like</button><button>Unlike</button>
    </section>

    <footer class="site-footer">
      <div class="container">
        <p>#DIIOC</p>
      </div>
    </footer>
  </body>
</html>
